<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
@model Dashboard
<body>
    <a style="float: right;" href="logout">Logout</a>
    <p style="float: right; margin-right: 25px;">Welcome, @Model.UserLoggedIn.Fname</p>
    <h3>Dojo Activity Center</h3>
    <hr>
    <table class="table">
        <thead>
            <th>Activity</th>
            <th>Date and Time</th>
            <th>Duration</th>
            <th>Event Coordinator</th>
            <th>No of Participants</th>
            <th>Actions</th>
        </thead>
        <tbody>
            @{
                foreach(var thing in @Model.Things.OrderByDescending(t => t.Date))
                {
                    if (@DateTime.Now < @thing.Date) {
                    //if (2 > 1) {
                        <tr>
                            <td><a href="/dashboard/@thing.ThingId">@thing.Name</a></td>
                            <td>@thing.Date.ToString("MM/dd") @thing.Time.ToString("@ h:mm tt")</td>
                                @{
                                    if(Int32.Parse(@thing.DurationType) == 1440) 
                                    {
                                        <td>@thing.Duration Days</td>
                                    }
                                    if(Int32.Parse(@thing.DurationType) == 1) 
                                    {
                                        <td>@thing.Duration Minutes</td>
                                    }
                                    if(Int32.Parse(@thing.DurationType) == 60) 
                                    {
                                        <td>@thing.Duration Hours</td>
                                    }
                                }
                            <td>
                                @{
                                    foreach (var x in @Model.AllUsers) 
                                    {
                                        if (@x.UserId == @thing.Creator) 
                                        {
                                            @x.Fname;
                                        }
                                    }
                                }

                            </td>
                            <td>@thing.Users.Count</td>
                            <td>
                                @{
                                    if(@Model.UserLoggedIn.UserId == @thing.Creator) 
                                    {
                                        <a href="/deletething/@thing.ThingId">Delete</a>
                                    }
                                    else 
                                    {
                                        bool attending = false;
                                        foreach(var user in @thing.Users) 
                                        {
                                            if (user.UserId == @Model.UserLoggedIn.UserId) 
                                            {
                                                attending = true;
                                            }
                                        }
                                        if (attending) 
                                        {
                                            <a href="/uncombineuserthing/@thing.ThingId">Leave</a>
                                        } 
                                        else 
                                        {
                                            if (@Model.UserLoggedIn.Things == null)
                                            {
                                                <a href="/combineuserthing/@thing.ThingId">Join</a>
                                            }
                                            else 
                                            {
                                                var conflict = false;

                                                var interestedeventend = @thing.Date.AddTicks(@thing.Time.TimeOfDay.Ticks).AddMinutes(@thing.Duration * Int32.Parse(@thing.DurationType));
                                                var interestedeventstart = @thing.Date.AddTicks(@thing.Time.TimeOfDay.Ticks);

                                                foreach(var v in @Model.UserLoggedIn.Things) 
                                                {
                                                    var eventattendingend = @v.Thing.Date.AddTicks(@v.Thing.Time.TimeOfDay.Ticks).AddMinutes(@v.Thing.Duration * Int32.Parse(@v.Thing.DurationType));
                                                    var eventattendingstart = @v.Thing.Date.AddTicks(@v.Thing.Time.TimeOfDay.Ticks);

                                                    if(interestedeventstart >= eventattendingend) 
                                                    {
                                                        conflict = false;
                                                    } 
                                                    else if (interestedeventend <= eventattendingstart)
                                                    {
                                                        conflict = false;
                                                    } 
                                                    else 
                                                    {
                                                        conflict = true;
                                                    }
                                                }

                                                if(conflict == true) 
                                                {
                                                    <p>Conflict</p>
                                                }
                                                else 
                                                {
                                                    <a href="/combineuserthing/@thing.ThingId">Join</a>
                                                }                                                
                                            }

                                        }
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
    <br>
    <a class="btn" href="dashboard/new">New Thing</a>
</body>
</html>