<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body style="background-color: rgb(255,245,157,0.9)">
    @model Thing
    <a style="float: right; margin-left: 25px" href="/logout">Logout</a>
    <a style="float: right; margin-left: 25px" href="/dashboard">Dashboard</a>

    @{
        if(ViewBag.LoggedInUser == @Model.Creator) 
        {
            <a class="btn" href="/deletething/@Model.ThingId">Delete</a>
        }
        else
        {
            bool attending = false;
            foreach(var user in @Model.Users) 
            {
                if (user.UserId == ViewBag.LoggedInUser) 
                {
                    attending = true;
                }
            }
            if (attending) 
            {
                <a class="btn" href="/uncombineuserthing/@Model.ThingId">Leave</a>
            } 
            else 
            {
                <a class="btn" href="/combineuserthing/@Model.ThingId">Join</a>
            }
        }
    }

    <div style="padding: 50px;" class="card panel teal lighten-2">
        <h3 style="color: rgb(255,245,157,1);">@Model.Name</h3>
        <p style="color: rgb(255,245,157,1);">Event Coordinator </p>
        <p>@ViewBag.CreatorsName</p>
        <p style="color: rgb(255,245,157,1);">Description </p>
        <p>@Model.Description</p>
        <p style="color: rgb(255,245,157,1);">Participants </p>
        <ul>
            @{
                foreach(var userInThing in @Model.Users) 
                {
                    <li>@userInThing.User.Fname</li>
                }
            }
        </ul>
    </div>

</body>
</html>