<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    @model Thing
    <a style="float: right; margin-left: 25px" href="/logout">Logout</a>
    <a style="float: right; margin-left: 25px" href="/dashboard">Dashboard</a>
    @{
        if(@ViewBag.LoggedInUser == @Model.Creator) 
        {
            <a style="float: right;" href="/dashboard/@Model.ThingId/edit">Edit</a>
        }
    }
    <h3>@Model.Name THING</h3>
    <p>Date: @Model.Date</p>
    <p>Guests: </p>
    <ol>
        @{
            foreach(var userInThing in @Model.Users) 
            {
                <li>@userInThing.User.Fname @userInThing.User.Lname</li>
            }
        }
    </ol>

</body>
</html>